
    .cellTest {
        display:inline-block;
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 1;
    }






/*
*,
*::after,
*::before {
    box-sizing: border-box;
}
*/

:root {
    font-size: 12px;
}

body {
    margin: 0;
    --color-text: #000100;
    --color-bg: #e2d9c7;
    --color-link: #395bb5;
    --color-link-hover: #000100;
    --color-gallery-title: #2c2724;
    --color-gallery-number: #d9d0be;
    --color-gallery-link: #fff;
    --color-gallery-link-bg: #2858d7;
    --color-gallery-link-hover: #fff;
    --color-gallery-link-bg-hover: #d4b77d;
    color: var(--color-text);
    background-color: var(--color-bg);
    --cursor-stroke: none;
    --cursor-fill: #c5681c;
    --cursor-stroke-width: 1px;
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5,0.5,1);
    }
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    outline: none;
}

.frame {
    padding: 3rem 5vw;
    text-align: center;
    position: relative;
    z-index: 1000;
    text-transform: uppercase;
}

.frame__title {
    font-size: 1rem;
    margin: 0 0 1rem;
    font-weight: 300;
}

.frame__links {
    display: inline;
}

.frame__links a:not(:last-child) {
    margin-right: 1rem;
}

.frame__demo {
    margin: 0 1rem;
}

.frame__demo--current,
.frame__demo--current:hover {
    color: var(--color-text);
    cursor: default;
}

.content { /* Flex starts here */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 13rem);
    position: relative;
    justify-content: flex-start;
}

.cursor {
    display: none;
}

@media screen and (min-width: 53em) {
    .frame {
        position: fixed;
        text-align: left;
        z-index: 100;
        top: 0;
        left: 0;
        display: grid;
        align-content: space-between;
        width: 100%;
        max-width: none;
        padding: 1.75rem;
        pointer-events: none;
        grid-template-columns: auto 1fr 1fr auto;
        grid-template-rows: auto;
        grid-template-areas: 'title demos demos links';
    }
    .frame__title {
        margin: 0 4rem 0 0;
        grid-area: title;
    }
    .frame__info {
        grid-area: info;
    }
    .frame__demos {
        grid-area: demos;
    }
    .frame__links {
        grid-area: links;
        padding: 0;
        justify-self: end;
    }
    .frame a {
        pointer-events: auto;
    }
    .content {
        height: 100vh;
        /*justify-content: center;*/
        justify-content: flex-start;
    }
}

@media (any-pointer:fine) {
    .cursor {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        pointer-events: none;
    }

    .cursor__inner {
        fill: var(--cursor-fill);
        stroke: var(--cursor-stroke);
        stroke-width: var(--cursor-stroke-width);
        opacity: 0.7;
    }

    .no-js .cursor {
        display: none;
    }

}

/*! locomotive-scroll v4.0.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    white-space: nowrap;
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
    .c-scrollbar:hover {
      transform: scaleX(1.45); }
    .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; }
    [data-scroll-direction="horizontal"] .c-scrollbar {
      width: 100%;
      height: 10px;
      top: auto;
      bottom: 0;
      transform: scaleY(1); }
      [data-scroll-direction="horizontal"] .c-scrollbar:hover {
        transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; }






.gallery {
    display: flex;
    margin-left:   0vw /*12vw*/;
    padding-right: 0vw /*12vw*/;
    background-color: #0e0e0e;
}
    main .gallery figure {
        margin: 0 -1px 0 0 !important;
    }

    figure.cellItem {
        position: relative;
        margin: 0 0vw;
        display: grid;
        grid-template-areas: '... ...' 
                             '... gallery-image'
                             '... ...' ;
        /*grid-template-columns: 8rem 21vmax;*/
        grid-template-columns: 0rem 100vmax;
        grid-template-rows: 0rem 100vh 0rem;
    }

    /* Are these needed since we can add class .pano to elements now? -abbey */
    figure.cellItem.x150 {
        grid-template-columns: 0rem 150vmax;
        grid-template-rows: 0rem 100vh 0rem;
    }
    figure.cellItem.x200 {
        grid-template-columns: 0rem 200vmax;
        grid-template-rows: 0rem 100vh 0rem;
    }



    /* - - - - - - - - - - - - - - - - - - - - */
    figure.cellItem.bgF1 {
        background-color: #f1f1f1;
    }
    figure.cellItem.bg0E {
        background-color: #0e0e0e !important;
    }
    
    figure.cellItem.FullFramedWindow {
        border: 60px #e2d9c7 solid;
        box-sizing: border-box;
        max-height: 100vh;
        overflow: hidden;
        max-width: 100vw;
    }    
    figure.cellItem.FullFramedWindow.grey0e {
        border: 60px #0e0e0e solid;
        background-color: #0e0e0e;
    }    



    /* Sticky Components  - css: will-change */
    .stickyContainer {
        color: red;
        position: absolute;
        top: calc(100vh / 2 - 48px);
        display: block;
        width: 100%;
        border: 0px solid red;
    }

        .stickyContainer p {
            display: inline-block;
            border: 0px solid pink;
            font-size: 7rem;
            max-width: 100vw;
            width: 100vw;
            text-align: center;
            font-weight: 900;
            color: #fff;
            outline: 1px #0a0a0a;
            margin: 0;
            opacity: 0.4;
            text-shadow: 0px 0px 8px rgb(30 30 30 / 4%);

        }

.StickyPanoNotice {
    position: absolute;
    top: calc(100vh - 35px);
    border: 0px solid red;
    padding: 0 0 0 60px;
    line-height: 0;
    margin: 0;
}
    .StickyPanoNotice p {
        color: #f1f1f1;
    }




        .PhotoOverlayTrigger {
            cursor: crosshair;
        }
        .masterTrigger {
            display: block;
            width:100%;
            height:100%;
            position: absolute;
            top: 0;
            left: 0;
            cursor: crosshair;
            z-index: 1;
            pointer-events: initial;
        }
        .PhotoDataOverlay {
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s linear 0s;

            background-color: rgba(0,0,0,0.7);
            color:#fff;
            /*position: relative;*/
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index: 10;
        }
        .viewingPhotoData .PhotoDataOverlay {
            opacity: 1;
            pointer-events: initial;
        }

            .PhotoDataOverlay div.BtmLeftData {
                position: absolute;
                bottom:60px;
                left:60px;
                text-align: left;
                z-index: 10;
            }
                .PhotoDataOverlay div.BtmLeftData h2 {
                    display: block;
                    font-size: 1.82rem;
                    font-weight: 800;
                }
                .PhotoDataOverlay div.BtmLeftData span {
                    display: block;
                    font-size: 1.5rem;
                    font-weight: 400;
                }

            .PhotoDataOverlay div.BtmRightTrigger {
                position: absolute;
                bottom:60px;
                right:60px;
                text-align: right;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 400;
                z-index: 10;
            }





    .ZNPimage-container {
        /*
      display: inline-block;
      padding: 1em;
      max-width: 100%;
      max-height: 100%;
      vertical-align: top;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      */

      position: absolute;
      top: 0;
      left: 0;
      width:100vw;
      height:100vh;
    }

    .ZNPimage-container:hover {
      /*background-color: #cde;*/
    }

    .ZNPimage {
        /*
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: crosshair;
      display: block;
      max-height: 100%;
      max-width: 100%;
      padding-bottom: 10em;
      width: 100em;
      */
      /*width: 100%;*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        image-rendering: pixelated;
        transition: box-shadow .225s linear 0s;

      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height:100vh;                                  
    }
    .zoomed-in {
        /*box-shadow: inset 0px 0px 100px 40px rgb(19 19 19) !important;*/
        /*border-width: 0 !important;*/
    }

    .zoomed-out {
        /*box-shadow: inset 0px 0px 0px rgb(0, 0, 0) !important;*/
        /*border-width: 0 !important;*/
        transition: background-position .725s ease 0s;

    }














    figure.cellItem.inline-block {
        display:inline-block;
        width:auto;
        border:0px solid red;
    }

    figure.cellItem.alignRight {
        text-align: right;
    }

    figure.cellItem.alignLeft {
        text-align: left;
    }

    figure.cellItem.alignCenter {
        text-align: center;
    }

    /* CropInsert */
    figure.cellItem.cropInsert {

    }


    .spacer {
        width:60px;
        margin-right:-1px;
    }

    figure.cellItem.inline-block.spacer.w60  { width:60px; }
    figure.cellItem.inline-block.spacer.w120 { width:120px; }
    figure.cellItem.inline-block.spacer.w200 { width:200px; }
    figure.cellItem.inline-block.spacer.w1040 { width:1040px; }
    figure.cellItem.inline-block.spacer.w5040 { width:5040px; }


    /* Gradient Spacer */
    .grad0E-F1 {
        background: rgb(14,14,14);
        background: -moz-linear-gradient(   left,   rgb(14,14,14) 0%,   rgb(60,60,60) 45%,   rgb(200,200,200) 55%,   rgb(241,241,241) 100%);
        background: -webkit-linear-gradient(left,   rgb(14,14,14) 0%,   rgb(60,60,60) 45%,   rgb(200,200,200) 55%,   rgb(241,241,241) 100%);
        background: linear-gradient(to right,       rgb(14,14,14) 0%,   rgb(60,60,60) 23%,   rgb(200,200,200) 68%,   rgb(241,241,241) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#f1f1f1',GradientType=1 );

    }



    /* TextInsert */
    figure.cellItem.textInsert {
        background: rgb(40,40,40);
        max-width: 600px;
        position: relative;
    }
        
        figure.cellItem .VAlignMiddleContainer {
            display: inline-block;
            vertical-align: middle;
        }

            figure.cellItem.textInsert p {
                display: block;
                position: relative;
                width: 600px;
                max-width: 600px;
                white-space: pre-wrap;
                padding: 0px 60px 0px 60px;
                box-sizing: border-box;
                margin: 0 auto 23px auto;
                color: #f1f1f1;
                line-height: 2.05;
                font-size: 1.45rem;
            }



    figure.cellItem:nth-child(even) {
        /*padding-top: 10vh;*/
    }

    .usedToBe_item_img {
        grid-area: gallery-image;
        /* need? . . . 
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        transform-origin: 50% 100%;
        */
    }
    figure.cellItem.FullFramedWindow .usedToBe_item_img {
        grid-area: gallery-image;
        width: calc(100vw - 120px);
        height: calc(100vh - 120px);
        overflow: hidden;
        position: relative;
        transform-origin: 50% 100%;
    }


    /* CropInsert */
    figure.cellItem.cropInsert .usedToBe_item_img {
        width: 100%;
        height: 80%;
        overflow: hidden;
        position: relative;
        transform-origin: 50% 100%;
        top: 9%;
    }


    .usedToBe_item_inner {
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast

        /*
         image-rendering: crisp-edges;
         image-rendering: -moz-crisp-edges;          
         image-rendering: -o-crisp-edges;            
         image-rendering: -webkit-optimize-contrast; 
         -ms-interpolation-mode: nearest-neighbor;           
        */
    }

    figure.cellItem.cropInsert80px .usedToBe_item_inner {
        background-size: cover;
        background-position: 50% 50%;
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        vertical-align: middle;
        display: inline-block;
        top: 40px;
        position: relative;
    }

    figure.cellItem.cropInsert .usedToBe_item_inner {
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
    }


    /* CropInsert */
    figure.cellItem.cropInsert .usedToBe_item_inner {
        display: inline-block;
        width: 25%;
        margin: 0 33px 0 0;
    }

        /* Inline-Block */
        figure.cellItem.inline-block .usedToBe_item_inner img {
            max-height:100vh;
            vertical-align: middle;
        }

        /* Inline-Block */
        /*.cellItem.inline-block .usedToBe_item_inner img {*/
        figure.cellItem.pano.framed img {
            max-height:calc(100vh - 120px);
            min-height: 400px;
            max-width:999999px;
            vertical-align: middle;
        }

        figure.cellItem.pano.framed.viewingPhotoData img {
            max-height:initial;
            max-width: 100vw;
            min-height: initial;
        }
        figure.cellItem.pano.framed.viewingPhotoZoomed img {
            transition: all 1s linear 0s;
            max-height:calc(100vh - 0px);
        }





#VRBoxOverlay {

}
    #VRBoxOverlay #vrview.vrview {
        border: 0px !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        max-width: 100vw !important;
        max-height: 100vh !important;
    }
        #VRBoxOverlay #vrview.vrview iframe {
            border: 0px !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100vw !important;
            height: 100vh !important;
            max-width: 100vw !important;
            max-height: 100vh !important;
        }






/* VRBOX Controls */
#VRBoxOverlay {
    display: block;
    width:100vw;
    height:100vh;
    position: fixed;
    top: 0;
    left:0;
    z-index: 9; /* 10 is the nav menu overlay */
    background-color: #f1f1f1;
    pointer-events: none;
    opacity: 0;
}
html._VBOX_OPEN_ #VRBoxOverlay {
    pointer-events: initial;
    opacity: 1;
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, pointer;
}





/* Lightbox Controls */
#LightBoxOverlay {
    display: block;
    width:100vw;
    height:100vh;
    position: fixed;
    top: 0;
    left:0;
    z-index: 9; /* 10 is the nav menu overlay */
    background-color: #f1f1f1;
    pointer-events: none;
    opacity: 0;
}
html._LBOX_OPEN_ #LightBoxOverlay {
    pointer-events: initial;
    opacity: 1;
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, pointer;
}

    #LightBoxOverlay img#overlayImgSrc {
        width: 100%; /* or any custom size */
        height: 100%; 
        object-fit: contain;

        position: absolute;
        top:0;
        left:0;
        transform: scale(2.24);
        transform-origin: 25% 25%;
    }



figure.cellItemx.thumbnail-grid {
    /*margin:0 !important;*/
    padding: 0 !important;
}

figure.cellItemx.thumbnail-grid .usedToBe_item_img-grid {}

figure.cellItemx.thumbnail-grid .usedToBe_item_img-grid .usedToBe_item_img-grid-inner {
    background-color: #f1f1f1;

    /* New attempt to create a grid with
    areas setup for content */
    display: grid;
    grid-template-columns:       1fr 1fr 1fr 1fr;
    grid-template-rows:     50px 1fr 1fr 1fr 1fr 50px;
    grid-template-areas:  
        "bTop   bTop   bTop   bTop"
        "th1    th2    th3    th4"
        "th5    th6    th7    th8"
        "th9    th10   th11   th12"
        "th13   th14   th15   th16"
        "bBtm   bBtm   bBtm   bBtm"
    ;
    /*column-gap: 19px;*/
    /*row-gap: 19px;*/

}

        .gallery__img-grid-item {
            border: 10px solid #f1f1f1;
            box-sizing: border-box;
            cursor: pointer;
            background-color: #f1f1f1;
            background-size: cover;
            background-position: center center;
            /*transition: background-color 0.778s ease-out 0.04s;*/
        }
        .bTop  {grid-area: bTop ;}
        .bBtm  {grid-area: bBtm ;}
        .th1  {grid-area: th1 ;}
        .th2  {grid-area: th2 ;}
        .th3  {grid-area: th3 ;}
        .th4  {grid-area: th4 ;}
        .th5  {grid-area: th5 ;}
        .th6  {grid-area: th6 ;}
        .th7  {grid-area: th7 ;}
        .th8  {grid-area: th8 ;}
        .th9  {grid-area: th9 ;}
        .th10 {grid-area: th10;}
        .th11 {grid-area: th11;}
        .th12 {grid-area: th12;}
        .th13 {grid-area: th13;}
        .th14 {grid-area: th14;}
        .th15 {grid-area: th15;}
        .th16 {grid-area: th16;}        















    .cellType_caption {
        grid-area: 1 / 1 / 4 / 3;
        display: grid;
        grid-template-areas: 'gallery-number gallery-title' 
                             'gallery-link ...'
                             'gallery-link gallery-tags' ;
        grid-template-columns: 8rem auto;
        grid-template-rows: 8rem auto 3rem;

    }

    .cellType_number {
        grid-area: gallery-number;
        font-size: 6rem;
        font-size: clamp(2.5rem,9vw,6.5rem);
        justify-self: end;
        padding-right: 2rem;
        color: var(--color-gallery-number);
    }

    .cellType_title {
        grid-area: gallery-title;
        margin: 0;
        font-size: 4rem;
        font-size: clamp(2rem,5vw,4rem);
        color: var(--color-gallery-title);
    }

    .cellType_number,
    .cellType_title,
    .gallery__text {
        font-family: moret, serif;
        font-weight: 800;
        font-style: italic;
        align-self: center;
    }

    .cellType_link {
        grid-area: gallery-link;
        align-self: end;
        font-size: 1.5rem;
        background: var(--color-gallery-link-bg);
        color: var(--color-gallery-link);
        text-decoration: underline;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .cellType_link:focus,
    .cellType_link:hover {
        background: var(--color-gallery-link-bg-hover);
        color: var(--color-gallery-link-hover);
        text-decoration: none;
    }

    .cellType_tags {
        grid-area: gallery-tags;
        justify-self: end;
        font-size: 1.5rem;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        cursor: pointer;
    }

    .gallery__text {
        font-size: 20vw;
        line-height: 0.8;
        margin: 0 10vw 0 14vw;
        text-transform: lowercase;
        color: var(--color-gallery-title);
        color: transparent;
        -webkit-text-stroke: 1px #978c77;
        text-stroke: 1px #978c77;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }

    .gallery__text-inner {
        display: block;
    }    





































/* Abbey's additions */
#logoSection {
    position: absolute;
    top:    6px;
    left:   60px;
    z-index: 999;
}

    #logoSection h1 {
        line-height: 0;
        font-family: Tahoma, arial;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: -0.2rem;
        font-size: 3rem;
        color: #fff;

    }
    html #logoSection h1 a {
        color: #ffffff;
    }
    html._NAV_MENU_OPEN_ #logoSection h1 a {
        color:#0a0a0a;
    }
   
    #logoSection h2 {
        position: relative;
        margin: 33px 0 0 0;
        color:#fff;
    }











div.video-js,
video {
    width:100%;
    /*height:100vh;*/
    height:100%;
}


    /*

video#my-video_html5_api {
    width: 100%;
}


.vjs-poster {
    height: 100vh;
    border: 1px red;
    position: absolute;
    top: 0;
    z-index: 9999999;
}

    */


.my-video-dimensions {
    width:100%;
    height:100vh;
}



























.usedToBe_item_inner {
    text-align:center;
    position: relative;
}
.usedToBe_item_inner::after {
    content: '';
    display: inline-block;
    width: 0.1px;
    height: 100vh;
    vertical-align: middle;
}


iframe {
    display: inline-block;
    vertical-align: middle;
    width: calc(100vw - 100px);
    /*min-width: 500px;*/
    max-width: 1440px;
    height: calc(100vh - 250px);
    /*min-height: 500px;*/
    max-height: 768px;
    border: 0px;
    outline: none;
    box-shadow: 0px 0px 32px -18px rgba(40,40,40,1);
    margin-top: 70px;
}















#vrTrigger {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
    border: 0px solid rgb(78 100 132 / 60%);
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(60,60,60,0.3);
}
#vrTrigger:hover {
    background-color: rgba(60,60,60,0.7);
}

html._VBOX_OPEN_ #vrTrigger.vrOverlayTrigger {
    display:block;
    /*position: fixed;*/
    /*top:    15px;*/
    /*right:  15px;*/
    z-index: 999;
    /*border: 1px solid blue;*/
    /*width:30px;*/
    /*height:30px;*/
    /*cursor: pointer;*/
    background-color: rgba(30,60,90,0.5);
}






#navTrigger {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 99;
    border: 0px solid rgb(78 100 132 / 60%);
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(60,60,60,0.3);
}
#navTrigger:hover {
    background-color: rgba(60,60,60,0.7);
}

html._NAV_MENU_OPEN_ #navTrigger {
    /*display:block;*/
    /*position: fixed;*/
    /*top:    15px;*/
    /*right:  15px;*/
    z-index: 99;
    /*border: 1px solid blue;*/
    /*width:30px;*/
    /*height:30px;*/
    /*cursor: pointer;*/
    background-color: rgba(30,60,90,0.1);
}




#navOverlay {
    
    /* This is a great display flex 
    example for a simple one column 
    vertically centered setup -ae * /
    display: flex;
    /*display: none;* /
    flex-direction: column;
    justify-content: center;
    /* - */

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 9;
    transition: 0.35s opacity 0.05s ease;
    opacity: 0;
    pointer-events: none;


    /* New attempt to create a grid with
    areas setup for content */
    display: grid;
    grid-template-columns:  auto      30vh     30vh     30vh     auto;
    grid-template-rows:     auto      30vh     30vh     30vh     auto;
    grid-template-areas:  
        "leftCol topRow topRow topRow rightCol"
        "leftCol S1     S2     S3     rightCol"
        "leftCol S4     S5     S6     rightCol"
        "leftCol S7     S8     S9     rightCol"
        "leftCol btmRow btmRow btmRow rightCol"
    ;

    /* Play and close cursors from Oculus' website */
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 120 120' xml:space='preserve' height='120px' width='120px' shape-rendering='geometricPrecision'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:none;stroke:%23FFFFFF;stroke-width:2;%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7D%0A%3C/style%3E%3Ccircle class='st1' cx='60' cy='60' r='59'/%3E%3Cpath class='st2' d='M67,54.4L65.6,53L60,58.6L54.4,53L53,54.4l5.6,5.6L53,65.6l1.4,1.4l5.6-5.6l5.6,5.6l1.4-1.4L61.4,60L67,54.4z' /%3E%3C/svg%3E") 60 60, auto;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 120 120' xml:space='preserve' height='120px' width='120px' shape-rendering='geometricPrecision'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:none;stroke:%23FFFFFF;stroke-width:2;%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7D%0A%3C/style%3E%3Ccircle class='st1' cx='60' cy='60' r='59'/%3E%3Cpath class='st2' d='M68,61l-11,7V54L68,61z'/%3E%3C/svg%3E%0A") 60 60, auto;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 120 120' xml:space='preserve' height='120px' width='120px' shape-rendering='geometricPrecision'%3E%3Cstyle type='text/css'%3E .st1%7Bfill:none;stroke:%23000000;stroke-width:2;stroke-opacity:0.15%7D%0A%3C/style%3E%3Ccircle class='st1' cx='60' cy='60' r='44'/%3E%3Ccircle cx='59.9' cy='59.9' r='3.5'/%3E%3Cpath d='M116,63.5v-8l4,4L116,63.5z'/%3E%3Cpath d='M4,63.5v-8l-4,4L4,63.5z'/%3E%3C/svg%3E%0A") 60 60, auto;

}

html._NAV_MENU_OPEN_ #navOverlay {
    z-index: 10;
    opacity: 1;
    pointer-events: initial;
}    

#navOverlay #navLeftCol { grid-area: leftCol; background-color: #fafafa; position: relative;}
#navOverlay #navTopRow  { grid-area: topRow;  background-color: #fafafa; }
#navOverlay #navBtmRow  { grid-area: btmRow;  background-color: #fafafa; }
#navOverlay #navRightCol{ grid-area: rightCol;background-color: #fafafa; }
#navOverlay #S1         { grid-area: S1;       }
#navOverlay #S2         { grid-area: S2;       }
#navOverlay #S3         { grid-area: S3;       }
#navOverlay #S4         { grid-area: S4;       }
#navOverlay #S5         { grid-area: S5;       }
#navOverlay #S6         { grid-area: S6;       }
#navOverlay #S7         { grid-area: S7;       }
#navOverlay #S8         { grid-area: S8;       }
#navOverlay #S9         { grid-area: S9;       }

#navOverlay #navLeftCol {
}

#navOverlay .navSquare { 
    border: 9px solid #fcfcfc;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #0a0a0a;
    background-size: cover;
    background-position: center center;
    transition: background-color 0.778s ease-out 0.04s;
}

#navOverlay .navSquare:hover { 

    background-color: #FFCC00;
    transition: background-color 0.138s ease-in-out 0s;
}

#navOverlay .navSquare:active {
    transform: scale(0.97);
    transform-origin: center center;
    transition: transform 0.13s cubic-bezier(0, 0, 0, 0.99) 0s;
}

#LeftLinkHolder { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0px;
    right:60px;
    height:100vh;
}







    #navOverlay h1 {
        /*color: #0a0a0a;*/
        text-align: right;
    }

    #navOverlay a {
        color: #0a0a0a;
        text-align: center;
    }














