/*! locomotive-scroll v4.0.6 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{
    line-height:1.15;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
main{
    display:block
}
h1{
    font-size:2em;
    margin:.67em 0
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
pre{
    font-family:monospace,monospace;
    font-size:1em
}
a{
    background-color:transparent
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted
}
b,strong{
    font-weight:bolder
}
code,kbd,samp{
    font-family:monospace,monospace;
    font-size:1em
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
img{
    border-style:none
}
button,input,optgroup,select,textarea{
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
    outline:1px dotted ButtonText
}
fieldset{
    padding:.35em .75em .625em
}
legend{
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
progress{
    vertical-align:baseline
}
[type=checkbox],[type=radio]{
    box-sizing:border-box;
    padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
details{
    display:block
}
summary{
    display:list-item
}
[hidden],template{
    display:none
}
html{
    box-sizing:border-box
}
[hidden],template{
    display:none
}
*,:after,:before{
    box-sizing:inherit
}
address{
    font-style:inherit
}
cite,dfn,em,i{
    font-style:italic
}
b,strong{
    font-weight:700
}
a{
    text-decoration:none
}
a svg{
    pointer-events:none
}
ol,ul{
    list-style:none
}
figure,ol,p,ul{
    margin:0;
    padding:0
}
[tabindex],a,area,button,input,label,select,textarea{
    touch-action:manipulation
}
[hreflang]>abbr[title]{
    text-decoration:none
}
table{
    border-spacing:0;
    border-collapse:collapse
}
hr{
    display:block;
    margin:1em 0;
    padding:0;
    height:1px;
    border:0;
    border-top:1px solid #272727
}
audio,canvas,iframe,img,svg,video{
    vertical-align:middle
}
audio:not([controls]){
    display:none;
    height:0
}
img,svg{
    max-width:100%;
    height:auto
}
img[height],img[width],svg[height],svg[width]{
    max-width:none
}
img{
    font-style:italic
}
svg{
    fill:currentColor
}
input,select,textarea{
    display:block;
    margin:0;
    padding:0;
    width:100%;
    outline:0;
    border:0;
    border-radius:0;
    background:none transparent;
    color:inherit;
    font:inherit;
    line-height:normal;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
select{
    text-transform:none
}
select::-ms-expand{
    display:none
}
select::-ms-value{
    background:none;
    color:inherit
}
textarea{
    overflow:auto;
    resize:vertical
}
.o-button,button{
    display:inline-block;
    overflow:visible;
    margin:0;
    padding:0;
    outline:0;
    border:0;
    background:none transparent;
    color:inherit;
    vertical-align:middle;
    text-align:center;
    text-transform:none;
    font:inherit;
    line-height:normal;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.o-button,.o-button:focus,.o-button:hover,button,button:focus,button:hover{
    text-decoration:none
}
@font-face{
    font-family:Neue Montreal;
    src:url(../fonts/NeueMontreal-Medium.woff2) format("woff2"),url(../fonts/NeueMontreal-Medium.woff) format("woff");
    font-weight:500;
    font-style:normal
}
html{
    color:#222;
    font-family:Neue Montreal;
    line-height:1.5
}
@media (max-width:699px){
    html{
        font-size:12px
    }
}
@media (min-width:700px) and (max-width:999px){
    html{
        font-size:13px
    }
}
@media (min-width:1000px) and (max-width:1199px){
    html{
        font-size:14px
    }
}
@media (min-width:1200px) and (max-width:1599px){
    html{
        font-size:16px
    }
}
@media (min-width:1600px) and (max-width:1999px){
    html{
        font-size:18px
    }
}
@media (min-width:2000px) and (max-width:2399px){
    html{
        font-size:21px
    }
}
@media (min-width:2400px){
    html{
        font-size:24px
    }
}
html:not(.has-scroll-init){
    cursor:wait;
    overflow:hidden
}
::-moz-selection{
    background-color:#272727;
    color:#fff;
    text-shadow:none
}
::selection{
    background-color:#272727;
    color:#fff;
    text-shadow:none
}
a{
    transition:color .3s cubic-bezier(.215,.61,.355,1);
    color:#272727
}
@media (min-width:1200px){
    a:focus,a:hover{
        color:#fff
    }
}
a.-underline{
    text-decoration:underline
}
.o-h,.o-h1,.o-h2,.o-h3,.o-h4,.o-h5,.o-h6,h1,h2,h3,h4,h5,h6{
    margin-top:0;
    line-height:1.5;
    margin-bottom:0;
    line-height:1;
    font-weight:400
}
.o-h1,h1{
    line-height:.9;
    text-transform:uppercase
}
@media (max-width:699px){
    .o-h1,h1{
        font-size:12vw
    }
}
@media (min-width:700px) and (max-width:1599px){
    .o-h1,h1{
        font-size:13.5vw
    }
    .o-h1.-huge,h1.-huge{
        font-size:36vh
    }
}
@media (min-width:1600px){
    .o-h1,h1{
        font-size:12vw
    }
}
.o-h2,h2{
    font-size:2rem
}
.o-h3,h3{
    font-size:1.5rem
}
.o-h4,h4{
    line-height:1.2
}
.o-h4,.o-h5,h4,h5{
    font-size:1rem
}
.o-h6,h6{
    font-size:.9375rem
}
.o-container{
    margin-right:auto;
    margin-left:auto;
    max-width:95rem
}
@media (max-width:699px){
    .o-container{
        padding-right:20px;
        padding-left:20px
    }
}
@media (min-width:700px){
    .o-container{
        padding-right:2.5rem;
        padding-left:2.5rem
    }
}
.o-ratio{
    position:relative;
    display:block;
    overflow:hidden
}
.o-ratio:before{
    display:block;
    padding-bottom:100%;
    width:100%;
    content:""
}
.o-ratio>embed,.o-ratio>iframe,.o-ratio>img,.o-ratio>object,.o-ratio_content{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:100%
}
.o-layout{
    padding:0;
    list-style:none;
    font-size:0;
    margin:0
}
.o-layout.-gutter{
    margin-left:-3.75rem
}
.o-layout.-gutter-small{
    margin-left:-1.875rem
}
.o-layout.-center{
    text-align:center
}
.o-layout.-right{
    text-align:right
}
.o-layout.-reverse{
    direction:rtl
}
.o-layout.-reverse.-flex{
    flex-direction:row-reverse
}
.o-layout.-flex{
    display:flex
}
.o-layout.-flex.-top{
    align-items:flex-start
}
.o-layout.-flex.-middle{
    align-items:center
}
.o-layout.-flex.-bottom{
    align-items:flex-end
}
.o-layout.-stretch{
    align-items:stretch
}
.o-layout_item{
    display:inline-block;
    width:100%;
    vertical-align:top;
    font-size:1rem;
    padding-left:0
}
.o-layout.-gutter>.o-layout_item{
    padding-left:3.75rem
}
.o-layout.-gutter-small>.o-layout_item{
    padding-left:1.875rem
}
.o-layout.-middle>.o-layout_item{
    vertical-align:middle
}
.o-layout.-bottom>.o-layout_item{
    vertical-align:bottom
}
.o-layout.-center>.o-layout_item,.o-layout.-reverse>.o-layout_item,.o-layout.-right>.o-layout_item{
    text-align:left
}
.o-layout.-reverse>.o-layout_item{
    direction:ltr
}
.o-checkbox-label,.o-label,.o-radio-label{
    display:block;
    margin-bottom:.9375rem
}
.o-input,.o-select,.o-textarea{
    padding:.625rem;
    border:1px solid #d3d3d3;
    background-color:#fff
}
.o-input:focus,.o-select:focus,.o-textarea:focus{
    border-color:grey
}
.o-input::-moz-placeholder,.o-select::-moz-placeholder,.o-textarea::-moz-placeholder{
    color:grey
}
.o-input:-ms-input-placeholder,.o-select:-ms-input-placeholder,.o-textarea:-ms-input-placeholder{
    color:grey
}
.o-input::placeholder,.o-select::placeholder,.o-textarea::placeholder{
    color:grey
}
.o-checkbox,.o-radio{
    position:absolute;
    width:0;
    opacity:0
}
.o-checkbox:focus+.o-checkbox-label:before,.o-checkbox:focus+.o-radio-label:before,.o-radio:focus+.o-checkbox-label:before,.o-radio:focus+.o-radio-label:before{
    border-color:grey
}
.o-checkbox:checked+.o-checkbox-label:after,.o-checkbox:checked+.o-radio-label:after,.o-radio:checked+.o-checkbox-label:after,.o-radio:checked+.o-radio-label:after{
    opacity:1
}
.o-checkbox-label,.o-radio-label{
    position:relative;
    display:inline-block;
    margin-right:.5em;
    padding-left:1.75rem
}
.o-checkbox-label:after,.o-checkbox-label:before,.o-radio-label:after,.o-radio-label:before{
    position:absolute;
    top:50%;
    left:0;
    display:inline-block;
    margin-top:-.5625rem;
    padding:0;
    width:1.125rem;
    height:1.125rem;
    content:""
}
.o-checkbox-label:before,.o-radio-label:before{
    background-color:#fff
}
.o-checkbox-label:after,.o-radio-label:after{
    border-color:transparent;
    background-color:transparent;
    background-image:url("data:image/svg+xml;
    charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10.5'%3E%3Cpath fill='%23424242' d='M4.8 5.8L2.4 3.3 0 5.7l4.8 4.8L13 2.4 10.6 0 4.8 5.8z'/%3E%3C/svg%3E");
    background-position:50%;
    background-size:.8125rem;
    background-repeat:no-repeat;
    opacity:0
}
.o-radio-label:after,.o-radio-label:before{
    border-radius:50%
}
.o-radio-label:after{
    background-image:url("data:image/svg+xml;
    charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Ccircle fill='%23424242' cx='6.5' cy='6.5' r='6.5'/%3E%3C/svg%3E");
    background-size:.5rem
}
.o-select{
    z-index:1;
    padding-right:2.5rem
}
.o-select,.o-select-wrap{
    position:relative
}
.o-select-wrap:after{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    z-index:2;
    width:2.5rem;
    background-image:url("data:image/svg+xml;
    charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11.3'%3E%3Cpath fill='%23424242' d='M6.5 11.3L3.3 5.6 0 0h13L9.8 5.6z'/%3E%3C/svg%3E");
    background-position:50%;
    background-size:.625rem;
    background-repeat:no-repeat;
    content:"";
    pointer-events:none
}
.o-textarea{
    min-height:6.25rem
}
.o-button{
    position:relative;
    z-index:1;
    color:#fff;
    padding:2rem 2.1875rem;
    font-size:1.5rem;
    background-color:#272727;
    transition:color .3s cubic-bezier(.215,.61,.355,1);
    width:100%;
    text-align:left
}
.o-button:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:-1;
    transform:scaleY(0);
    transform-origin:center top;
    background-color:#fff;
    transition:transform .3s cubic-bezier(.215,.61,.355,1)
}
.o-button:focus,.o-button:hover{
    color:#272727
}
.o-button:focus:before,.o-button:hover:before{
    transform:scaleY(1);
    transform-origin:center bottom
}
.o-button_icon{
    display:inline-block;
    vertical-align:middle;
    width:3.4375rem;
    height:3.4375rem;
    margin-right:.9375rem
}
.o-button_icon svg{
    display:block;
    width:100%;
    height:100%
}
.o-button_arrow{
    position:absolute;
    top:50%;
    right:2.1875rem;
    transform:translateY(-50%)
}
.o-scroll{
    background-color:#d4c9c9;
    overflow:hidden
}
.o-title{
    margin:0;
    padding:2.5rem 0;
    perspective:600px;
    -webkit-perspective:600px
}
.o-title_line{
    display:block;
    opacity:0;
    transform-origin:center top;
    transform-style:preserve-3d;
    transform:translateY(100%) rotateX(-80deg);
    transition:opacity .8s cubic-bezier(.215,.61,.355,1),transform .8s cubic-bezier(.215,.61,.355,1);
    font-size:0
}
.o-title.is-inview .o-title_line{
    transform:none;
    opacity:1
}
.o-title.is-inview .o-title_line:first-child{
    transition-delay:.4s
}
.o-title.is-inview .o-title_line:nth-child(2){
    transition-delay:.5s
}
.o-title.is-inview .o-title_line:nth-child(3){
    transition-delay:.6s
}
.o-title.is-inview .o-title_line:nth-child(4){
    transition-delay:.7s
}
.o-title_line span{
    display:inline-block;
    min-width:.05em;
    font-size:13.5vw
}
.o-image_wrapper{
    position:relative;
    overflow:hidden;
    background-color:#d4c9c9
}
.o-image_wrapper.-full{
    height:100%;
    margin:0 6.25rem;
    display:flex;
    align-content:center
}
@media (max-width:699px){
    .o-image_wrapper.-full{
        margin:1.875rem 0
    }
}
.o-image{
    opacity:.75;
    mix-blend-mode:multiply
}
.o-image img{
    width:100%;
    opacity:0;
    transform:scale(1.4);
    transition:opacity 1.2s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1)
}
.o-image.is-inview img{
    opacity:1;
    transform:scale(1);
    transition-delay:.6s
}
.o-image_wrapper.-full .o-image{
    align-self:center
}
html.has-scroll-smooth{
    overflow:hidden
}
html.has-scroll-dragging{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.has-scroll-smooth body{
    overflow:hidden
}
.has-scroll-smooth [data-scroll-container]{
    min-height:100vh
}
[data-scroll-direction=horizontal] [data-scroll-container]{
    height:100vh;
    display:inline-block;
    white-space:nowrap
}
[data-scroll-direction=horizontal] [data-scroll-section]{
    display:inline-block;
    vertical-align:top;
    white-space:nowrap;
    height:100%
}
.c-scrollbar{
    position:absolute;
    right:0;
    top:0;
    width:11px;
    height:100%;
    transform-origin:center right;
    transition:transform .3s,opacity .3s;
    opacity:0
}
.c-scrollbar:hover{
    transform:scaleX(1.45)
}
.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling .c-scrollbar{
    opacity:1
}
[data-scroll-direction=horizontal] .c-scrollbar{
    width:100%;
    height:10px;
    top:auto;
    bottom:0;
    transform:scaleY(1)
}
[data-scroll-direction=horizontal] .c-scrollbar:hover{
    transform:scaleY(1.3)
}
.c-scrollbar_thumb{
    position:absolute;
    top:0;
    right:0;
    background-color:#000;
    opacity:.5;
    width:7px;
    border-radius:10px;
    margin:2px;
    cursor:-webkit-grab;
    cursor:grab
}
.has-scroll-dragging .c-scrollbar_thumb{
    cursor:-webkit-grabbing;
    cursor:grabbing
}
[data-scroll-direction=horizontal] .c-scrollbar_thumb{
    right:auto;
    bottom:0
}
.c-header{
    position:relative
}
@media (max-width:699px){
    .c-header{
        height:50vh;
        min-height:340px
    }
}
@media (min-width:700px) and (max-width:999px){
    .c-header{
        height:80vh;
        min-height:380px
    }
}
@media (min-width:1000px){
    .c-header{
        height:100vh;
        min-height:46.875rem
    }
}
.c-header_title{
    padding:2.5rem 0;
    perspective:600px;
    -webkit-perspective:600px
}
.c-header_line,.c-header_title{
    position:absolute;
    bottom:0;
    left:0;
    margin:0
}
.c-header_line{
    right:0;
    transform:scaleX(0);
    transition:transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-header_line.is-inview{
    transform:scaleX(1)
}
.c-header_title_line{
    display:block;
    opacity:0;
    transform-origin:center top;
    transform-style:preserve-3d;
    transform:translateY(100%) rotateX(-80deg);
    transition:opacity 0s cubic-bezier(.215,.61,.355,1),transform 0s cubic-bezier(.215,.61,.355,1)
}
html.is-ready .c-header_title_line{
    transform:none;
    opacity:1;
    transition-duration:.8s
}
html.is-ready .c-header_title_line:first-child{
    transition-delay:.1s
}
html.is-ready .c-header_title_line:nth-child(2){
    transition-delay:.2s
}
html.is-ready .c-header_title_line:nth-child(3){
    transition-delay:.3s
}
html.is-ready .c-header_title_line:nth-child(4){
    transition-delay:.4s
}
.c-header_title_line span{
    display:inline-block
}
.c-header_title_line.-version{
    text-transform:none;
    font-size:0
}
.c-header_heading{
    padding:1.875rem 0
}
.c-header_heading_label{
    display:block;
    transition:transform 0s cubic-bezier(.215,.61,.355,1);
    transform:translateY(-60px)
}
html.is-ready .c-header_heading_label{
    transform:none;
    transition-duration:.6s
}
html.is-ready .o-layout_item:nth-child(2) .c-header_heading_label{
    transition-delay:.1s
}
.c-header_logo{
    position:absolute;
    bottom:2.5rem;
    right:0;
    opacity:0;
    transform:translateY(120px);
    transition:opacity 0s cubic-bezier(.215,.61,.355,1),transform 0s cubic-bezier(.215,.61,.355,1)
}
@media (max-width:699px){
    .c-header_logo{
        width:30px;
        height:66px
    }
}
@media (min-width:700px){
    .c-header_logo{
        width:4rem;
        height:8.75rem
    }
}
.c-header_logo svg{
    display:block;
    width:100%;
    height:100%
}
html.is-ready .c-header_logo{
    transform:none;
    opacity:1;
    transition-delay:.6s;
    transition-duration:.6s
}
.c-fixed_wrapper{
    position:relative;
    overflow:hidden;
    background-color:#d4c9c9
}
@media (min-width:1000px){
    .c-fixed_wrapper{
        height:100vh
    }
}
@media (max-width:999px){
    .c-fixed_wrapper{
        height:50vh
    }
}
.c-fixed_target{
    bottom:-100vh
}
.c-fixed,.c-fixed_target{
    position:absolute;
    top:-100vh;
    right:0;
    left:0
}
.c-fixed{
    height:100%;
    background-size:cover;
    background-position:50%;
    opacity:.75;
    mix-blend-mode:multiply
}
html:not(.has-scroll-smooth) .c-fixed{
    top:0
}
.c-intro{
    margin:7.5rem 0;
    font-size:2.1875rem;
    line-height:1.2;
    opacity:0;
    transform:translateY(60px);
    transition:opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-intro.is-inview{
    opacity:1;
    transform:none;
    transition-delay:.3s
}
.c-features{
    padding:7.5rem 0
}
.c-features_item{
    background-color:rgba(0,0,0,.1);
    border-radius:20px;
    padding:3.75rem;
    margin-bottom:3.75rem
}
.c-summary{
    margin:3.75rem 0 7.5rem
}
.c-summary_text{
    font-size:1.125rem;
    font-weight:600;
    opacity:0;
    transform:translateY(60px);
    transition:transform 1s cubic-bezier(.215,.61,.355,1)
}
.c-summary.is-inview .c-summary_text{
    opacity:1;
    transform:none
}
@media (min-width:1000px){
    .c-summary_text{
        max-width:320px
    }
}
@media (max-width:999px){
    .c-summary_list{
        margin-top:1.875rem
    }
}
.c-summary_list_item{
    position:relative;
    opacity:0;
    transform:translateY(60px);
    transition:opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-summary_list_item:after{
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    height:1px;
    background-color:#272727;
    transform:scaleX(0);
    transform-origin:center left;
    transition:transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-summary_list_item.is-inview{
    transform:none;
    opacity:1
}
.c-summary_list_item.is-inview:after{
    transform:scaleX(1)
}
.c-summary_list_item.is-inview:first-child{
    transition-delay:.1s
}
.c-summary_list_item.is-inview:first-child:after{
    transition-delay:.5s
}
.c-summary_list_item.is-inview:nth-child(2){
    transition-delay:.2s
}
.c-summary_list_item.is-inview:nth-child(2):after{
    transition-delay:.6s
}
.c-summary_list_item.is-inview:nth-child(3){
    transition-delay:.3s
}
.c-summary_list_item.is-inview:nth-child(3):after{
    transition-delay:.7s
}
.c-summary_list_item.is-inview:nth-child(4){
    transition-delay:.4s
}
.c-summary_list_item.is-inview:nth-child(4):after{
    transition-delay:.8s
}
.c-summary_list_item.is-inview:nth-child(5){
    transition-delay:.5s
}
.c-summary_list_item.is-inview:nth-child(5):after{
    transition-delay:.9s
}
.c-summary_list_item.is-inview:nth-child(6){
    transition-delay:.6s
}
.c-summary_list_item.is-inview:nth-child(6):after{
    transition-delay:1s
}
.c-summary_list_item a{
    display:block;
    padding:8px 0
}
.c-summary_list_icon{
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%) translateX(30px) rotate(90deg);
    opacity:0;
    transition:opacity .4s cubic-bezier(.215,.61,.355,1),transform .4s cubic-bezier(.215,.61,.355,1)
}
.c-summary_list_item.is-inview .c-summary_list_icon{
    transform:translateY(-50%) rotate(0deg);
    opacity:1
}
.c-summary_list_item.is-inview:first-child .c-summary_list_icon{
    transition-delay:.6s
}
.c-summary_list_item.is-inview:nth-child(2) .c-summary_list_icon{
    transition-delay:.7s
}
.c-summary_list_item.is-inview:nth-child(3) .c-summary_list_icon{
    transition-delay:.8s
}
.c-summary_list_item.is-inview:nth-child(4) .c-summary_list_icon{
    transition-delay:.9s
}
.c-summary_list_item.is-inview:nth-child(5) .c-summary_list_icon{
    transition-delay:1s
}
.c-summary_list_item.is-inview:nth-child(6) .c-summary_list_icon{
    transition-delay:1.1s
}
.c-section{
    position:relative
}
@media (max-width:1199px){
    .c-section{
        padding-bottom:10vh;
        margin-bottom:10vh
    }
}
@media (min-width:1200px){
    .c-section{
        margin-bottom:35vh
    }
}
.c-section_infos{
    position:relative;
    max-width:320px;
    z-index:0
}
@media (min-width:1000px){
    .c-section_infos{
        padding-top:7.5rem
    }
    .c-section_infos.-padding{
        padding-top:35vh
    }
}
@media (max-width:999px){
    .c-section_infos{
        margin-bottom:1.875rem
    }
}
.c-section_infos_inner>*{
    opacity:0;
    transform:translateY(60px);
    transition:opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-section_infos_inner.is-inview>*{
    opacity:1;
    transform:none
}
.c-section_infos_inner.is-inview>:first-child{
    transition-delay:.06s
}
.c-section_infos_inner.is-inview>:nth-child(2){
    transition-delay:.12s
}
.c-section_infos_inner.is-inview>:nth-child(3){
    transition-delay:.18s
}
.c-sections_infos_text{
    margin-top:1.25rem
}
.c-image{
    opacity:0;
    transition:opacity .6s cubic-bezier(.215,.61,.355,1)
}
.c-image.is-inview{
    opacity:1;
    transition-delay:.6s
}
.c-speed-block{
    position:relative
}
@media (min-width:1000px){
    .c-speed-block.-margin{
        margin-top:7.5rem
    }
}
@media (max-width:999px){
    .c-speed-block{
        margin:1.875rem 0
    }
}
@media (max-width:699px){
    .c-speed-block{
        margin:15px 0
    }
}
.c-speed-block_image{
    margin-top:-30px;
    margin-bottom:-30px
}
.c-speed-block_title{
    font-size:1.5rem;
    text-transform:uppercase;
    font-weight:600;
    color:#fff;
    text-align:center;
    position:absolute;
    bottom:3.75rem;
    right:0;
    left:0;
    opacity:0;
    transform:translateY(60px);
    transition:opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-speed-block_title.is-inview{
    opacity:1;
    transform:none;
    transition-delay:.3s
}
@media (max-width:1199px){
    .c-speed-block_title{
        display:none
    }
}
.c-speed-block_bubble{
    position:absolute;
    right:20px;
    top:30%;
    z-index:1;
    color:#d4c9c9;
    padding:1.5rem 2.5rem;
    font-size:1.25rem
}
.c-speed-block_bubble.-right{
    right:-30px
}
.c-speed-block_bubble.-left{
    right:auto;
    left:-30px
}
.c-speed-block_bubble.-top{
    top:-20%
}
.c-speed-block_bubble.-bottom{
    top:auto;
    bottom:0
}
.c-speed-block_bubble:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:-1;
    background-color:#272727;
    border-radius:50%;
    transform:scale(0);
    transition:transform .6s cubic-bezier(.17,.67,.3,1.33)
}
.c-speed-block_bubble.is-inview:before{
    transform:scale(1);
    transition-delay:.3s
}
@media (max-width:1199px){
    .c-speed-block_bubble{
        display:none
    }
}
.c-direction-block_wrapper{
    margin-bottom:31.25rem
}
@media (min-width:1200px){
    .c-direction-block_wrapper{
        min-height:180vh
    }
}
@media (min-width:1000px) and (max-width:1199px){
    .c-direction-block_wrapper{
        min-height:130vh
    }
}
@media (min-width:700px) and (max-width:999px){
    .c-direction-block_wrapper{
        min-height:100vh
    }
}
@media (max-width:699px){
    .c-direction-block_wrapper{
        min-height:70vh
    }
}
@media (min-width:1000px){
    .c-direction-block_wrapper{
        margin-top:-35vh
    }
}
.c-direction-block{
    position:absolute;
    right:0;
    left:0;
    z-index:1
}
@media (min-width:1200px){
    .c-direction-block{
        top:-50vh;
        bottom:-50vh
    }
}
@media (min-width:700px) and (max-width:1199px){
    .c-direction-block{
        top:-30vh;
        bottom:-50vh
    }
}
@media (max-width:699px){
    .c-direction-block{
        top:-15vh;
        bottom:0
    }
}
@media (min-width:1000px) and (max-width:1199px){
    .c-direction-block{
        margin-top:6.25rem
    }
}
@media (min-width:1200px){
    .c-direction-block{
        margin-top:18.75rem
    }
}
.c-direction-block_item{
    position:absolute;
    font-size:10vw;
    white-space:nowrap;
    font-weight:600;
    text-transform:uppercase;
    line-height:1
}
.c-direction-block_item span{
    display:block;
    background-color:#fff;
    white-space:nowrap;
    padding:0 20px
}
.c-direction-block_item.-one{
    top:33%;
    transform:translateX(-50vw) rotate(26deg)
}
.c-direction-block_item.-two{
    top:45%
}
.c-direction-block_item.-three{
    top:55%;
    transform:rotate(9deg)
}
.c-direction-block_item.-four{
    top:68%;
    transform:translateX(-50vw) rotate(-19deg)
}
.c-direction-block_item.-five{
    top:63%;
    transform:translateX(-10vw) rotate(3deg)
}
.c-lerp-block{
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:10rem
}
@media (min-width:1000px){
    .c-lerp-block:not(:first-child){
        margin-top:3.75rem
    }
}
@media (max-width:999px){
    .c-lerp-block{
        margin-top:1.875rem
    }
}
.c-lerp-block_index{
    vertical-align:middle;
    color:#d4c9c9;
    width:3.75rem;
    height:2.8125rem;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-size:1.25rem;
    position:relative;
    z-index:1
}
.c-lerp-block_index:before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:-1;
    background-color:#272727;
    border-radius:50%;
    transform:scale(0);
    transition:transform .6s cubic-bezier(.17,.67,.3,1.33)
}
.c-lerp-block_index.is-inview:before{
    transform:scale(1);
    transition-delay:.3s
}
.c-lerp-block_title{
    display:inline-block;
    vertical-align:middle;
    font-size:0;
    margin-left:1.25rem;
    line-height:1.1
}
.c-lerp-block_title.is-inview>span:not([data-scroll]){
    opacity:1;
    transform:none;
    transition-delay:.4s
}
.c-lerp-block_title>span:not([data-scroll]){
    opacity:0;
    transform:translateY(60px);
    transition:opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-lerp-block_title span{
    display:inline-block;
    min-width:.3em
}
@media (max-width:699px){
    .c-lerp-block_title span{
        font-size:1.5625rem
    }
}
@media (min-width:700px){
    .c-lerp-block_title span{
        font-size:4.375rem
    }
}
.c-cta_line{
    margin:0;
    transform:scaleX(0);
    transition:transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-cta_line.-margin{
    margin-bottom:30px
}
.c-cta_line.is-inview{
    transform:scaleX(1)
}
.c-cta_content{
    margin:3.75rem 0
}
.c-cta_content_text{
    max-width:520px
}
.c-cta_content_text>*{
    opacity:0;
    transform:translateY(60px);
    transition:opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
}
.c-cta_content_text>:not(:first-child){
    margin-top:1.875rem
}
.c-cta_content_text.is-inview>*{
    opacity:1;
    transform:none
}
.c-cta_content_text.is-inview>:first-child{
    transition-delay:.06s
}
.c-cta_content_text.is-inview>:nth-child(2){
    transition-delay:.12s
}
.c-cta_content_text.is-inview>:nth-child(3){
    transition-delay:.18s
}
.c-cta_button{
    opacity:0;
    transform:translateY(60px);
    transition:opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1);
    margin-top:5.625rem
}
.c-cta_button.is-inview{
    opacity:1;
    transform:none
}
.c-cta_section{
    margin-bottom:11.25rem
}
.c-choochoo_item{
    padding:50vh 0;
    font-size:6.25rem
}
.c-choochoo_item span{
    display:block
}
.c-choochoo_item.-reverse span,html[data-direction=up] .c-choochoo_item span{
    transform:rotateY(180deg)
}
html[data-direction=up] .c-choochoo_item.-reverse span{
    transform:rotateY(0deg)
}
@media (max-width:1199px){
    .c-choochoo_item{
        display:none
    }
}
@media (max-width:999px){
    .c-damn{
        padding:150vh 0 0
    }
}
@media (min-width:1000px){
    .c-damn{
        padding:100vh 0 0
    }
}
.c-helicopter_wrapper{
    height:100%;
    position:relative;
    display:flex
}
.c-helicopter{
    align-self:center
}
.u-2\:1:before{
    padding-bottom:50%
}
.u-4\:3:before{
    padding-bottom:75%
}
.u-16\:9:before{
    padding-bottom:56.25%
}
.u-1\/1{
    width:100%!important
}
.u-1\/2{
    width:50%!important
}
.u-2\/2{
    width:100%!important
}
.u-1\/3{
    width:33.33333%!important
}
.u-2\/3{
    width:66.66667%!important
}
.u-3\/3{
    width:100%!important
}
.u-1\/4{
    width:25%!important
}
.u-2\/4{
    width:50%!important
}
.u-3\/4{
    width:75%!important
}
.u-4\/4{
    width:100%!important
}
.u-1\/5{
    width:20%!important
}
.u-2\/5{
    width:40%!important
}
.u-3\/5{
    width:60%!important
}
.u-4\/5{
    width:80%!important
}
.u-5\/5{
    width:100%!important
}
@media (min-width:700px){
    .u-1\/2\@from-small{
        width:50%
    }
}
@media (min-width:1000px){
    .u-1\/3\@from-medium{
        width:33.33333%
    }
}
@media (min-width:1000px){
    .u-1\/2\@from-medium{
        width:50%
    }
}
@media (min-width:1000px){
    .u-2\/5\@from-medium{
        width:40%
    }
}
@media (min-width:1000px){
    .u-3\/5\@from-medium{
        width:60%
    }
}
.u-float-left{
    float:left!important
}
.u-float-right{
    float:right!important
}
.u-text-center{
    text-align:center!important
}
.u-text-left{
    text-align:left!important
}
.u-text-right{
    text-align:right!important
}
.u-align-baseline{
    vertical-align:baseline!important
}
.u-align-bottom{
    vertical-align:bottom!important
}
.u-align-middle{
    vertical-align:middle!important
}
.u-align-top{
    vertical-align:top!important
}
.u-vertical-center{
    font-size:0
}
.u-vertical-center:before{
    display:inline-block;
    height:100%;
    content:"";
    vertical-align:middle
}
.u-vertical-center>*{
    display:inline-block;
    vertical-align:middle;
    font-size:1rem
}
.u-white{
    color:#fff
}
.u-label{
    font-size:1.5rem;
    text-transform:uppercase;
    font-weight:600
}
.u-icon{
    font-family:Lucida Grande;
    font-size:1.125rem
}
.u-text{
    font-size:.875rem
}
.u-clearfix:after{
    display:block;
    clear:both;
    content:""
}
.u-truncate{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    max-width:100%
}
[hidden][aria-hidden=false]{
    position:absolute;
    display:inherit;
    clip:rect(0,0,0,0)
}
[hidden][aria-hidden=false]:focus{
    clip:auto
}
.u-screen-reader-text{
    position:absolute!important;
    overflow:hidden;
    clip:rect(0 0 0 0);
    margin:0;
    padding:0;
    width:1px;
    height:1px;
    border:0
}
@media not print{
    .u-screen-reader-text\@screen{
        position:absolute!important;
        overflow:hidden;
        clip:rect(0 0 0 0);
        margin:0;
        padding:0;
        width:1px;
        height:1px;
        border:0
    }
}
.u-screen-reader-text.-focusable:active,.u-screen-reader-text.-focusable:focus{
    clip:auto;
    width:auto;
    height:auto
}
